* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: linear-gradient(135deg, #667eea, #764ba2);
    min-height: 100vh;
    padding: 40px;

}

/* Heading */
h1 {
    text-align: center;
    color: white;
    margin-bottom: 40px;
    font-size: 28px;
}

/* Layout */
.main-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

/* Card */
.card {
    background: #f4f4f4;
    padding: 25px;
    border-radius: 12px;
    width: 500px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card h3 {
    margin-bottom: 15px;
    color: #4c6ef5;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, textarea {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

textarea {
    height: 60px;
    resize: none;
}

/* Buttons */
.primary-btn {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(to right, #5f9cff, #4c6ef5);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.secondary-btn {
    padding: 8px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(to right, #7fb3ff, #5f9cff);
    color: white;
    cursor: pointer;
    font-size: 13px;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

/* Event Cards */
.event-card {
    background: white;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.event-card h4 {
    margin-bottom: 5px;
}

.delete-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    background: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.empty-text {
    color: #777;
    font-size: 14px;
}

/* DOM Demo */
.dom-card {
    margin: 40px auto 0;
    width: 1030px;
    max-width: 100%;
}

.key-box {
    background: white;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-top: 10px;
}